{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
  {{ parent() }}
  <style>
    hr {
      margin: 40px 20px;
    }

    h2 {
      margin: 20px;
    }

    .card {
      background-color: rgba(45, 76, 163, 0.3);
      transition: background-color 0.3s ease-in-out;
    }

    .card:hover {
      background-color: rgba(45, 76, 163, 0.5);
    }

    .btn-custom {
      margin: 5px;
      width: 45%;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .btn-custom:hover {
      transform: scale(1.025);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  </style>
{% endblock %}


{% block content %}
  <main>
    <h1>Bienvenue sur votre espace administrateur</h1>

    <div class="row"></div>

    <h2><i class="fa fa-database mb-3 text-primary"></i> Gestion des données</h2>

    <div class="row">

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-folder fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Projets</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/project' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-ticket fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Tags</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/tag' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-user fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Collaborateurs</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/collaborator' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-laptop-code fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Technologies</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/technology?sort[priority]=ASC' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-building fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Entreprises</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/society' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-school fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Écoles</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/school' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-trophy fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Accomplissements</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/trophy' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card shadow-sm border-0 h-100">
          <div class="card-body text-center">
            <i class="fa fa-road fa-3x mb-3 text-primary"></i>
            <h5 class="card-title">Route de trophées</h5>
            <div class="d-flex justify-content-center">
              <a href="{{ path('admin') ~ '/trophy-road' }}" class="btn btn-primary btn-custom">
                CRUD
              </a>
            </div>
          </div>
        </div>
      </div>

      <h2><i class="fa fa-file-import mb-3 text-primary"></i> Export des données</h2>

      <div class="col-md-4 mb-4">
        <a href="{{ path('data.export') }}">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="fas fa-file-export fa-3x mb-3 text-primary"></i>
              <h5 class="card-title">Exporter les données</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <a href="{{ path('data.export.files') }}">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="fas fa-image fa-3x mb-3 text-primary"></i>
              <h5 class="card-title">Exporter les images</h5>
            </div>
          </div>
        </a>
      </div>

      <h2><i class="fa fa-external-link-alt mb-3 text-primary"></i> Liens utiles</h2>

      <div class="col-md-4 mb-4">
        <a href="https://matteo-k.github.io" target="_blank" class="text-decoration-none">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="fa fa-user-tie fa-3x mb-3 text-primary"></i>
              <h5 class="card-title">Portfolio</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <a href="https://github.com/Matteo-K/matteo-k.github.io" target="_blank" class="text-decoration-none">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="fa fa-suitcase fa-3x mb-3 text-primary"></i>
              <h5 class="card-title">Github portfolio</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mb-4">
        <a href="https://github.com/Matteo-K/data-management-portfolio" target="_blank" class="text-decoration-none">
          <div class="card shadow-sm border-0 h-100">
            <div class="card-body text-center">
              <i class="fa fa-cart-flatbed-suitcase fa-3x mb-3 text-primary"></i>
              <h5 class="card-title">Github gestion de donnée</h5>
            </div>
          </div>
        </a>
      </div>
    </div>

  </main>
{% endblock %}
